body {
  background-color:  rgb(248, 242, 242);
  padding: 0px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}
ul.header {
  background-color: rgb(232, 229, 236);
  padding: 10px;
  margin: auto;
}
ul.header li a {
  color: rgb(211, 36, 36);
  font-weight: bold;
  text-decoration: none;
  padding: 30px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 30px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: rgb(13, 13, 14);
  
}


